<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Web service config -->
    <add key="User" value="busettyr"></add>
    <add key="Domain" value="4327"></add>
    <add key="Password" value="mdp"></add>
    <add key="AutoRetrySendOnError" value="2"></add>

    <!-- Application config -->
    <add key="RootDirectory" value="C:\LinxensFiles"></add>
    <add key="LogDirectory" value="C:\LogFiles"></add>
    <add key="RootWorkingDirectory" value="C:\WorkingDirectory"></add>

    <!-- Email alert config-->
    <add key="EmailNotificationTo" value="nans.laupretre@viseo.com"></add>
    <add key="EmailNotificationFrom" value="FiAutoDataEntry@linxens.com"></add>
    <add key="EmailNotificationServer" value="smtp.linxens.com"></add>
    <add key="EmailNotificationPort" value="25"></add>
  </appSettings>
</configuration>