<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MES2QAD_ASObj"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="%QADURL%" binding="basicHttpBinding" bindingConfiguration="MES2QAD_ASObj" contract="QADServices.MES2QAD_ASObj" name="MES2QAD_ASObj"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <!-- QAD service config -->
    <add key="User" value="%USER%"></add>
    <add key="Domain" value="%DOMAIN%"></add>
    <add key="Password" value="%QADPASSWD%"></add>
    <add key="AutoRetrySendOnError" value="%AUTORETRY%"></add>

    <!-- Application directories config -->
    <add key="RootDirectory" value="%ROOTDIR%"></add>
    <add key="LogDirectory" value="%LOGDIR%"></add>
    <add key="RootWorkingDirectory" value="%WORKDIR%"></add>

    <!-- Email alert config-->
    <add key="EmailNotificationTo" value="%EMAILTO%"></add>
    <add key="EmailNotificationFrom" value="%EMAILFROM%"></add>
    <add key="EmailNotificationServer" value="%EMAILSRV%"></add>
    <add key="EmailNotificationPort" value="%EMAILPORT%"></add>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
