<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SoapBinding" receiveTimeout="00:%TIMEOUT%:00" sendTimeout="00:%TIMEOUT%:00">
          <security mode="Transport" />
        </binding>
        <binding name="SoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="%QADURL%" binding="basicHttpBinding" bindingConfiguration="SoapBinding"
                contract="QADServicesV2.QdocWebService" name="QdocWebService" />
    </client>
  </system.serviceModel>
  <appSettings>
    <!-- QAD service config -->
    <add key="Domain" value="%DOMAIN%"></add>
    <add key="AutoRetrySendOnError" value="%AUTORETRY%"></add>

    <!-- Application directories config -->
    <add key="RootDirectory" value="%ROOTDIR%"></add>
    <add key="LogDirectory" value="%LOGDIR%"></add>
    <add key="RootWorkingDirectory" value="%WORKDIR%"></add>
    <add key="EditPassword" value="%EDITPASSWD%"></add>

    <!-- Email alert config-->
    <add key="EmailNotificationTo" value="%EMAILTO%"></add>
    <add key="EmailNotificationFrom" value="%EMAILFROM%"></add>
    <add key="EmailNotificationServer" value="%EMAILSRV%"></add>
    <add key="EmailNotificationPort" value="%EMAILPORT%"></add>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
