<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MES2QAD_ASObj"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="%QADURL%" binding="basicHttpBinding" bindingConfiguration="MES2QAD_ASObj" contract="QADServices.MES2QAD_ASObj" name="MES2QAD_ASObj"/>
    </client>
  </system.serviceModel>
  <appSettings>
    <!-- Web service config -->
    <add key="User" value="%USER%"></add>
    <add key="Domain" value="%DOMAIN%"></add>
    <add key="Password" value="%PASSWD%"></add>

    <!-- Application config -->
    <add key="RootDirectory" value="%ROOTDIR%"></add>
    <add key="LogDirectory" value="%LOGDIR%"></add>
    <add key="RootWorkingDirectory" value="%WORKDIR%"></add>


    <add key="Machine" value="machine"></add>
    <add key="EmailNotification" value="lambert@viseo.com"></add>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
