<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!-- Web service config -->
    <add key="User" value="Lambert"></add>
    <add key="Domain" value=""></add>
    <add key="Password" value="pwd"></add>
    <add key="WebServiceUrl" value="http:\\webservice"></add>
    <add key="WebServiceTimeOutTime" value="1"></add>

    <!-- Application config -->
    <add key="RootDirectory" value="C:\LinxensFiles"></add>
    <add key="LogDirectory" value="C:\Logs"></add>
    <add key="RootWorkingDirectory" value="C:\DataWorkingDirectory"></add>
    <add key="Machine" value="machine"></add>
    <add key="EmailNotification" value="lambert@viseo.com"></add>
  </appSettings>
</configuration>