<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SoapBinding" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport" />
        </binding>
        <binding name="SoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://qssilholdb08.odqad.com:8143/qxiqonddb/services/QdocWebService"
            binding="basicHttpBinding" bindingConfiguration="SoapBinding"
            contract="QADServicesV2.QdocWebService" name="QdocWebService" />
    </client>
  </system.serviceModel>
  <appSettings>
    <!-- Web service config -->
    <add key="Domain" value="4327"></add>
    <add key="AutoRetrySendOnError" value="2"></add>

    <!-- Application config -->
    <add key="RootDirectory" value="C:\LinxensFiles"></add>
    <add key="LogDirectory" value="C:\LogFiles"></add>
    <add key="RootWorkingDirectory" value="C:\WorkingDirectory"></add>
    <add key="EditPassword" value="mdp"></add>

    <!-- Email alert config-->
    <add key="EmailNotificationTo" value="nans.laupretre@viseo.com"></add>
    <add key="EmailNotificationFrom" value="FiAutoDataEntry@linxens.com"></add>
    <add key="EmailNotificationServer" value="smtp.linxens.com"></add>
    <add key="EmailNotificationPort" value="25"></add>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
